<h3><%= @employee.first_name %></h3>

<p><%= @employee.first_name %></p><br>
<p><%= @employee.last_name %></p><br>
<p><%= @employee.alias %></p><br>
<p><%= @employee.title %></p><br>
<p><%= @employee.office %></p><br>
<img src="<%= @employee.img_url %>" alt="<%= @employee.title %>" />